<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"      lang="en">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>My Product List</title>
  <th:block th:replace="~{layout::link-css}"></th:block>
  <th:block th:replace="~{layout::custom-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container" th:if="${not #lists.isEmpty(cart.cartItems)}">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Color</th>
      <th scope="col">Total</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cart.cartItems}">
      <td th:text="${item.getProductId()}"></td>
      <td th:text="${item.getProductName()}"></td>
      <td>
        <label>
          <input type="number" min="1"
                 th:value="${item.getQuantity()}"
                 th:attr="data-id=${item.getProductId()}"
                 class="form-control quantity">
        </label>
        <!--th:text="${sanpham.getFormattedPrice()}"-->
      </td>
      <td th:text="${item.getFormattedPrice(item.price)}"></td>
      <td th:text="${item.getProductMau()}"></td>
      <td th:text="${item.getFormattedPrice(item.getPrice() * item.getQuantity())}"></td>
      <td>
        <a class="btn btn-danger"
           th:href="@{/cart/removeFromCart/{id}(id=${item.getProductId()})}">
          Remove
        </a>
      </td>
    </tr>
    </tbody>
  </table>
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-8 mb-4">
          <!-- Card -->
          <div class="card wish-list pb-1">
            <div class="card-body">
              <h5 class="mb-2">Billing details</h5>
              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-lg-6">
                  <!-- First name -->
                  <div class="md-form md-outline mb-0 mb-lg-4">
                    <label for="firstName">First name</label>
                    <input type="text" id="firstName" required class="form-control mb-0 mb-lg-2">
                  </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6">
                  <!-- Last name -->
                  <div class="md-form md-outline">
                    <label for="lastName">Last name</label>
                    <input type="text" id="lastName" required class="form-control">
                  </div>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
              <!-- Country -->
              <div class="d-flex flex-wrap">
                <div class="select-outline position-relative w-100">
                  <label>Country - <strong>VietNam</strong></label>
                </div>
              </div>
              <!-- Address Part 1 -->
              <div class="md-form md-outline mt-2">
                <label for="form14">Address (Line 1)</label>
                <input type="text" required id="form14" placeholder="House number and street name" class="form-control">
              </div>
              <!-- Address Part 2 -->
              <div class="md-form md-outline mt-2">
                <label for="form15">Address (Line 2)</label>
                <input type="text" id="form15" placeholder="Apartment, suite, unit etc. (optional)"
                       class="form-control">
              </div>
              <!-- Town / City -->
              <div class="md-form md-outline mt-2">
                <label for="form17">Town / City</label>
                <input type="text" required id="form17" class="form-control">
              </div>
              <!-- Phone -->
              <div class="md-form md-outline mt-2">
                <label for="form18">Phone</label>
                <input type="number" minlength="10" maxlength="10" required id="form18" class="form-control">
              </div>
              <!-- Email address -->
              <div class="md-form md-outline mt-2">
                <label for="form19">Email address</label>
                <input type="email" required id="form19" class="form-control">
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Total: <span th:text="${totalPrice}"></span></h3>
    </div>
    <div class="col-md-12 text-center">
      <a class="btn btn-success" th:href="@{/cart/checkout}">Checkout</a>
      <a class="btn btn-danger"
         th:href="@{/cart/clearCart}">Clear Cart</a>
    </div>
  </div>
</div>
<div class="container" th:if="${#lists.isEmpty(cart.cartItems)}">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h3 class="mt-5">Your cart is empty</h3>
        <p class="lead">Please add some books to your cart</p>
        <a class="btn btn-primary" href="/sanphams">Go to list
          Product</a>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>