<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"      lang="en">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Product List</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <h2>My Product List</h2>
                    <form class="d-flex" th:action="@{/sanphams/search}" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th><a th:href="@{/sanphams(pageNo=${currentPage}, sortBy='id')}">Id</a></th>
            <th><a th:href="@{/sanphams(pageNo=${currentPage}, sortBy='title')}">Title</a></th>
            <th><a th:href="@{/sanphams(pageNo=${currentPage}}">Image</a></th>
            <th><a th:href="@{/sanphams(pageNo=${currentPage}, sortBy='price')}">Price</a></th>
            <th><a th:href="@{/sanphams(pageNo=${currentPage}, sortBy='category')}">Category</a></th>
            <th><a th:href="@{/sanphams(pageNo=${currentPage}, sortBy='mau')}">Color</a></th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sanpham : ${sanphams}">
            <td th:text="${sanpham.getId()}"></td>
            <td th:text="${sanpham.getTitle()}"></td>
            <td><img th:src="@{'/image/' + ${sanpham.image}}" width="50px" height="75px"></td>
            <td th:text="${sanpham.getPrice()}"></td>
            <td th:text="${sanpham.getNhomsanpham().getName()}"></td>
            <td th:text="${sanpham.getMau().getName()}"></td>
            <td colspan="2">
                <a class="btn btn-primary" th:href="@{/sanphams/edit/{id}(id=${sanpham.getId()})}">Edit</a>
                <!--sec:authorize="hasAnyAuthority('ADMIN')"-->
                <a class="btn btn-danger"
                   th:href="@{/sanphams/delete/{id}(id=${sanpham.getId()})}"
                   onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                <!--           sec:authorize="hasAnyAuthority('ADMIN')"-->

                <form th:action="@{/sanphams/add-to-cart}" method="post" class="d-inline">
                    <input type="hidden" name="id" th:value="${sanpham.getId()}">
                    <input type="hidden" name="name" th:value="${sanpham.getTitle()}">
                    <input type="hidden" name="image" th:value="${sanpham.getImage()}">
                    <input type="hidden" name="price" th:value="${sanpham.getPrice()}">
                    <input type="hidden" name="color" th:value="${sanpham.getMau().getName()}">
                    <button type="submit" class="btn btn-success"
                            onclick="return confirm('Are you sure you want to add this product to cart?')">
                        Add to cart</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example" style="display: flex; margin: 10px;justify-content: center;">
    <ul class="pagination justify-content-center pagination-sm" th:each="i : ${#numbers.sequence(0, totalPages)}">
        <li class="page-item" th:classappend="${currentPage == i} ? 'active'">
            <a class="page-link" th:href="@{/sanphams(pageNo=${i})}" th:text="${i+1}" style="margin: 2px;"></a>
        </li>
    </ul>
</nav>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>